<h1>All Wands</h1>

<% @wands.each do |wand| %>
    <li>Wood: <%= wand.wood %></li>
    <li>Length: <%= wand.length %></li>
    <li>Flexibility: <%= wand.flexibility %></li>
    <li>Core: <%= wand.core %></li>
    <br>
 <% end %>