
#charlie {
  display: flex;
  justify-content: space-between;
  background-color: #d4e8e800;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0px 0px 10px 0px;
}

#buttonbox {
  height: 63px;
}

.lowerthree {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 80px 30px 60px 30px;
}

.hyperlinks li {
  color: silver;
}

.hyperlinks a {
  color: silver;
  /* background: blue; */
}

.allusers_hyperlinks a {
  color: rgba(154, 16, 16, 0.817);
  display: inline; 
  margin-left: 1em;
  text-align: left;
}

.housedescription p {
  background-color: white;
  opacity: 0.9;
  border-radius: 0.3em;
  padding-left: 7px;
  box-shadow: 9px 7px 10px black;
  text-shadow: 3px 0px 16px black;
}

.housemembers_hyperlinks a {
  color: black;
  background-color: white;
  border-radius: 0.2em;
  opacity: 0.8;
  text-shadow: 5px 7px 8px black;
}

.house_names {
  padding-top: 20px;
}

.house_names a {
  text-size-adjust: 10px;
  color: rgb(232, 203, 36);
  background-color: rgba(8, 37, 37, 0.64);
  box-shadow: 3px 3px 2px black;
  text-shadow: 1px 1px 1px black;
  opacity: 0.8;
  padding: 3px;
  border-radius: 0.1em;
}

#showpage_patronus {
  padding: 65px;
  border-radius: 0.3em;
  background-color: #0e5865c7;
  box-shadow: 9px 10px 20px black;
}

#showpage_wands {
  background-color: #0e5865c7;
  padding: 65px;
  border-radius: 0.3em;
  box-shadow: 9px 10px 20px black;
}

#showpage_wands > p {
  text-shadow: white;
}

#showpage_spells {
  padding: 65px;
  border-radius: 0.3em;
  background-color: #0e5865c7;
  box-shadow: 9px 10px 20px black;
}

.usershowpage_profile_buttons {
  display: flex;
  padding: 50px 0px 0px 0px;
}

.textboxes {
  font-family: 'Cormorant Garamond', serif;
}

 p {
   font-family: 'Cinzel Decorative', cursive;
   font-weight: bold;
   font-size: 23px;
 }

li {
  color: black;
}

 body {
  background: url(http://i.imgur.com/CMWTqJx.jpg?1) no-repeat fixed center ;
  font-family: 'Cinzel Decorative', cursive;
  margin: 8px;
 }

 .img {
   border-radius: 8px;
 }

 div {
   font-size: 20px;
 }

 .students {
 
 }

 #student_box {
  background-color: #ece2d2;
  border-radius: 0.3em;
  opacity: 0.85;
  width: 100vw;
  margin-left: -0.4em;
  box-shadow: 0px 9px 11px black;
  padding-bottom: 15px;
  margin-top: 10px;
}

.analysis {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  margin-top: 4em;
  bottom: 1em;
}
 .analysis div{
  vertical-align: top;
  max-width: 20%;
  min-height: 10em;
  float: left;
  margin: 0 1em;
  text-align: center;

}

 #house_and_more {
  padding-top: 31px;
}

.analysis > #box1 {
  border-radius: 0.3em;
  padding-top: 41px;
  margin-bottom: 20px;
  /* box-shadow: -16px 12px 5px #7d1212d9, 14px -2px 5px #7d1212d9, -17px -10px 5px #7d1212d9, -11px -15px 5px #7d1212d9, 17px 11px 7px #7d1212d9, 18px -17px 5px #7d1212d9; */
  background-color: #7d1212d9;
  box-shadow: 9px 10px 7px black;
  text-shadow: 1px 1px 3px white;
  color: white;
}
.analysis > #box2 {
  border-radius: 0.3em;
  background-color: #207120d6;
  padding-top: 41px;
  /* opacity: 0.7; */
  margin-bottom: 20px;
  box-shadow: 9px 10px 7px black;
  text-shadow: 1px 1px 3px white;
  color: white;
}
.analysis > #box3 {
  border-radius: 0.3em;
  background-color: #a5a517d1;
  padding-top: 41px;
  /* opacity: 0.7; */
  margin-bottom: 20px;
  box-shadow: 9px 10px 7px black;
  text-shadow: 1px 1px 3px white;
  color: white;
}
.analysis > #box4 {
  border-radius: 0.3em;
  background-color: #1d1d7fd6;
  padding-top: 41px;
  /* opacity: 0.7; */
  margin-bottom: 20px;
  box-shadow: 9px 10px 7px black;
  text-shadow: 1px 1px 3px white;
  color: white;
}
