
#charlie {
  display: flex;
  justify-content: space-between;
  background-color: #d4e8e800;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0px 0px 10px 0px;
}

#buttonbox {
  height: 63px;
}

.lowerthree {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 80px 30px 60px 30px;
}

.hyperlinks li {
  color: silver;
}

.hyperlinks a {
  color: silver;
  /* background: blue; */
}

#showpage_patronus {
  padding: 65px;
  border-radius: 0.3em;
  background-color: #0e5865c7;
}

#showpage_wands {
  background-color: #0e5865c7;
  padding: 65px;
  border-radius: 0.3em;
}

#showpage_wands > p {
  text-shadow: white;
}

#showpage_spells {
  padding: 65px;
  border-radius: 0.3em;
  background-color: #0e5865c7;
}

.usershowpage_profile_buttons {
  display: flex;
  padding: 50px 0px 0px 0px;
}

.textboxes {
  font-family: 'Cormorant Garamond', serif;
}

 p {
   font-family: 'Cinzel Decorative', cursive;
   font-weight: bold;
   font-size: 23px;
 }

li {
  color: black;
}

 body {
  background: url(http://i.imgur.com/CMWTqJx.jpg?1) no-repeat fixed center ;
  font-family: 'Cinzel Decorative', cursive;
  margin: 8px;
 }

 img {
   border-radius: 8px;
   opacity: .8;
 }

 div {
   font-size: 20px;
 }

 .students {
 
 }

 #student_box {

}

.analysis{
  margin: 0;
  margin-top: 5em;
  bottom: 1em;
}
 .analysis div{
  /* display: flex;
  justify-content: space-around; */
  vertical-align: top;
  max-width: 20%;
  min-height: 10em;
  float: left;
  margin: 0 1em;
  text-align: center;

}

 #house_and_more {

}

.analysis > #box1 {
  border-radius: 0.3em;
  background-color: #0e5865c7;
  padding-top: 60px;
  opacity: 0.7;
}
.analysis > #box2 {
  border-radius: 0.3em;
  background-color: #0e5865c7;
  padding-top: 60px;
  opacity: 0.7;
}
.analysis > #box3 {
  border-radius: 0.3em;
  background-color: #0e5865c7;
  padding-top: 60px;
  opacity: 0.7;
}
.analysis > #box4 {
 border-radius: 0.3em;
  background-color: #0e5865c7;
  padding-top: 60px;
  opacity: 0.7;
}
